{% assign age = 18 %}

<div id="age-check-prompt-background">
  <div id="age-check-prompt" class="age-check-modal-prompt">
    <h2>
      {{ settings.age_check_header }}
    </h2>
    <p style="margin-bottom: 16px">
      {{ settings.age_check_message }}
    </p>
    <div class="age-button-wrapper">
      <button class="button" onclick="ageCheck()" style="display:inline-block">{{ settings.age_check_ok }}</button>
      <span style="padding: 0 4px">or</span>
      <button class="button" onclick="window.location = 'http://google.com'" style="display:inline-block; background-color: #0b090c">{{ settings.age_check_cancel }}</button>
    </div>
  </div>
</div>

<script>
  function isDev() {
    return window.location !== window.parent.location
  }
 function ageCheck() {
   if(isDev()) return;
       //Uncomment if you want and expiry, otherwise cookie expires at end of session
     // var days = 1; //number of days until they must go through the age checker again.
     // var date = new Date();
     // date.setTime(date.getTime()+(days*24*60*60*1000));
     // var expires = "; expires="+date.toGMTString();
     // document.cookie = 'isAnAdult=true;'+expires+"; path=/";
     document.cookie = "isAnAdult=true; path=/";
     location.reload();
  };

  function readCookie(name) {
    if(isDev()) return;
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
      var c = ca[i];
      while (c.charAt(0)==' ') c = c.substring(1,c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
  };
  var isAnAdult = readCookie('isAnAdult');
  if (isAnAdult || isDev()) {
    document.write("<style> #age-check-prompt-background { display: none; }</style>");
  };

</script>

<style>
.age-button-wrapper{
  display: flex;
  width:100%;
  align-items: center;
  justify-content: space-between;
}
.age-check-modal-prompt {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
  padding: 20px 35px 30px 35px;
  position: relative;
  top: 25%;
  z-index: 1000000;
}

.age-check-modal-prompt p, .age-check-modal-prompt h1 {
  color: #555555;
}

#age-check-prompt-background {
  background-color: rgba(85, 85, 85, 0.8);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
}
  
.age-check-modal-prompt select { float: left; margin-right: 10px; }

</style>