<form action="/search" method="get" role="search" class="search search-modal__form">
  <div class="field">
    <input class="search__input field__input" id="Search-In-Modal" type="search" name="q" value="" placeholder="Search">
    <label class="field__label" for="Search-In-Modal">Search</label>
    <input type="hidden" name="options[prefix]" value="last">
    <button class="search__button field__button focus-inset" aria-label="Search">
      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
        <use href="#icon-search">
        </use></svg>
    </button>
  </div>
</form>