<ul class="language-selector shadow" aria-labelledby="language-selector-label">
    <li class="current">
<a href="#" class="dropdown-item" data-iso-code="en">
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/img/l/1.jpg" alt="en" width="16" height="11">
English
</a>
</li>
    <li>
<a href="#" class="dropdown-item" data-iso-code="fr">
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/img/l/2.jpg" alt="fr" width="16" height="11">
Français
</a>
</li>
    <li>
<a href="#" class="dropdown-item" data-iso-code="de">
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/img/l/3.jpg" alt="de" width="16" height="11">
Deutsch
</a>
</li>
    <li>
<a href="#" class="dropdown-item" data-iso-code="it">
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/img/l/4.jpg" alt="it" width="16" height="11">
Italiano
</a>
</li>
    <li>
<a href="#" class="dropdown-item" data-iso-code="es">
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/img/l/5.jpg" alt="es" width="16" height="11">
Español
</a>
</li>
    <li>
<a href="#" class="dropdown-item" data-iso-code="ar">
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/img/l/6.jpg" alt="ar" width="16" height="11">
اللغة العربية
</a>
</li>
</ul>