<div class="footer__copyright">
    <small class="copyright__content my_store">Copyright  &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
    <small class="copyright__content"><a target="_blank" rel="nofollow" href="https://srsbsns.co.za?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by SrsBsns</a></small>
</div>