<!-- <ul class="icon-card-footer d-flex">
    <li class="list-card__item">
        {%- render 'icon-mastercard' -%}
    </li>
    <li class="list-card__item">
        {%- render 'icon-paypal' -%}
    </li>
    <li class="list-card__item">
        {%- render 'icon-visa' -%}
    </li>
    <li class="list-card__item">
        {%- render 'icon-amex' -%}
    </li>
</ul> -->
<img src="https://demo73leotheme.b-cdn.net/prestashop/leo_funisox_demo/themes/leo_funisox/assets/img/modules/appagebuilder/images/pay.png" class="" title="" alt="" style=" width:auto; 
height:auto">