.advert-child{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    padding-bottom: 20px;
    background-image: -webkit-linear-gradient(290deg, #afddd2 42%, transparent 30%), -webkit-linear-gradient(255deg, #6e3fc1 70%, transparent 30%);
}
.advert__image-wrapper{
    position: absolute;
    left:0;
    top:0;
}
.advert__image-wrapper .advert__image{
    width: 100%;
    height: auto;
    z-index: 5;
}
.advert__text{
    position: relative;
    z-index: 10;
}