.ambassadwhore-banner-sp{
    display: flex;

}
.ambassadwhore-banner-sp h1{
    font-family: "Made Tommy Black";
    font-size: 4.67vw;
    color: #afddd2;
    letter-spacing: -4px;
    line-height: 100%;
}
.ambassadwhore-banner-sp p{
    font-size: 2em;
    line-height: 1;
    padding-top: 20px;
    padding-right: 30vw;
    position: relative;
    z-index: 4;
}
.ambassadwhore-banner-sp .copy {
    max-width: 78%;
    margin: auto 0;
    padding-left:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ambassadwhore-container{
    width: 100%;
    position: relative;
    padding-top: 3vw;
    padding-bottom: 10.5vw;
}

.ambassadwhore-container.img{
    max-width: 40%;
}
.ambassadwhore-container.img img{
    max-width: 100%;
}
.ambassadwhore_button_container{
    margin-top: 20px;
}
.ambassadwhore-img{
    position: absolute;
    bottom: 0;
    right: -10%;
    width: 70%;
}
.ambassadwhore-img img {
    width: 100%;
}
.ambassadwhore-container .copy h3 {
    line-height: 0.6;
}
.ambassadwhore_button_container .custom-btn {
    z-index: 4;
    position: relative;
}
