#hoe-scale {
    width: 100%;
    background-color: #f00;
}

/*.ruler{*/
/*    height: 100vh;*/
/*    background-attachment: fixed;*/
/*    background-image:*/
/*            linear-gradient(90deg, #BBB 0 1px, transparent 0),*/
/*            linear-gradient(90deg, #BBB 0 1px, transparent 0),*/
/*            linear-gradient(0deg,#BBB 0 1px, transparent 0),*/
/*            linear-gradient(0deg, #BBB 0 1px, transparent 0);*/
/*    background-position: 0 0;*/
/*    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;*/
/*    background-size:*/
/*            calc(1px * 5 * 1) 8px,*/
/*            calc(1px * 50 * 1) 20px,*/
/*            8px calc(1px * 5 * 1),*/
/*            20px calc(1px * 50 * 1);*/
/*}*/
/*.ruler-y {*/
/*    color: #888;*/
/*    counter-reset: d 0;*/
/*    display: flex;*/
/*    font-size: 10px;*/
/*    line-height: 1;*/
/*    list-style: none;*/
/*    margin: 0;*/
/*    overflow: hidden;*/
/*    padding: 0;*/
/*    position: fixed;*/
/*}*/
/*.ruler-y {*/
/*    flex-direction: column;*/
/*    height: 100%;*/
/*    inset-block-start: calc(1px * 50);*/
/*    inset-inline-start: 0;*/
/*    opacity: 1;*/
/*    width: 20px;*/
/*}*/
/*.ruler-y li {*/
/*    counter-increment: d 50;*/
/*    flex: 0 0 calc(1px * 50);*/
/*}*/
/*.ruler-y li::after {*/
/*    content: counter(d)"";*/
/*    display: block;*/
/*    padding-inline-end: 0.75ch;*/
/*    transform: rotate(-90deg) translateY(-13px);*/
/*    transform-origin: 100% 0%;*/
/*    text-align: end;*/
/*    width: 100%;*/
/*}*/
.hoeville-section {
    height: 40vw;
    display: flex;
}

.hoeville-section h2{
    color: #D9175F;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 4.5rem;

}
.hoeville-section .container-left .hoeville-title{
    margin-top: 2.5rem;
}
.hoeville-section .container-left .type-text{
    margin-bottom: 2.5rem;
}
.hoeville-section  .content-wrapper{
   display: none;
}

.hoeville-section .type-text span{
    display: none;
    margin: 0;
}

.hoeville-section.lemoan {
    background-color: #afddd2;
    background-image: linear-gradient(-29deg, #FFFFFF 38%,#afddd2 30%);
}
.hoeville-section.lemoan .lemoan-content, .hoeville-section.lemoan .lemoan-text{
    display: block;
}

.hoeville-section.pg {
    background-color: #f393bd;
    background-image: linear-gradient(-29deg, #f393bd 38%,#fff 30%);
}

.hoeville-section.pg .pg-content, .hoeville-section.pg .pg-text{
    display: block;
}
.hoeville-section.pg li.trigger {
    color: #f393bc;
}

.hoeville-section.amateur {
    background-color: #afddd2;
    background-image: linear-gradient(-29deg, #fff 38%,#f394be 30%);
}

.hoeville-section.amateur .amateur-content, .hoeville-section.amateur .amateur-text{
    display: block;
}

.hoeville-section.xtrahot {
    background-color: #d91a60;
    background-image: linear-gradient(-29deg, #fef4f8 38%,#d91a60 30%);
}

.hoeville-section.xtrahot .xtrahot-content, .hoeville-section.xtrahot .xtrahot-text{
    display: block;
}

.hoeville-section.hardcore {
    background-color: #191919;
    background-image: linear-gradient(-29deg, #FFFFFF 38%,#191919 30%);
}

.hoeville-section.hardcore .hardcore-content, .hoeville-section.hardcore .hardcore-text{
    display: block;
}

.scale-container {
    height: 80vh
}

#scale-container {
    display: flex;
    align-items: center;
    max-width: 30%;
}

.hoeville-section h1, .hoeville-section h2, .hoeville-header {
    transition: color 0.3s ease-in-out;
}

.xtrahot h1, .xtrahot h2, .xtrahot .hoeville-header {
    color: #afddd2!important;
}
.xtrahot .scale .trigger{
    color: #fff;
}


#hoeville .container-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 2.5rem 0 15px 20px;
    /* width: 28%; */
}

#hoeville .container-left h2 {
    text-align: center;
    font-family: 'Made Tommy Black';
    font-size: 2.3vw;
    line-height: 2.5vw;
    margin: 0;
}
#hoeville .container-left h2.type-text {
    font-size: 1.9vw;
}
#hoeville .container-left h2.type-text .lemoan-text {
    font-size: 1.58vw;
}

#hoeville .container-left .dick {
    /* position: absolute;
    width: 60%;
    max-width: 150px;
    top: 49%;
    left: 42%;
    transform: translate(-50%, -50%); */
    z-index: 3;

    min-height: 0;
    position: relative;
}
#hoeville .container-left .dick #scale {
    position: relative;
    max-height: 100%;
    top: -5%;
    left: 3%;
}

#hoeville .container-left .oval{
    position: absolute;
    height: 40%;
    width: 83%;
    border-radius: 50%;
    display: block;
    z-index: -99;
    top: 25%;
    left: 3%;
}
.lemoan .container-left .dick .oval{
    background: #fff;
}
.pg .container-left .dick .oval,
.pg .container-right .hoeville-content .inner a{
    background: #f393bd;
}
.pg .container-right .hoeville-content .inner p {
    color: #f393bd;
}
.pg .container-right .hoeville-content .inner a {
    color: #fff;
}
.amateur .container-left .dick .oval{
    background: #D9175F;
}
.xtrahot .container-left .dick .oval{
    background: #afddd2;
}
.hardcore .container-left .dick .oval{
    background: #f393bd;
}

#scale-container {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rail.new{
    position: relative;
    z-index: 10;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

#scale-container .rail {
    width: 0;
    height: 100%;
    border-left: 16px solid #000;
    /* background-color: #000; */
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}
.hardcore #scale-container .rail{
    border-left-color: #FFF;
}

.hardcore .scale li.notch{
    background-image: linear-gradient(to bottom, #FFF 2px, transparent 2px);
}

.hardcore .scale:before{
    background-color: #fff;
}

.hardcore .scale li.trigger:before{
    background-color: #fff;
}

#scale-container .scale svg {
    position: absolute;
    left: -42px;
    width: 70px;
    transition: bottom 0.3s ease-in-out;
    bottom: calc(0% - 15px);
}

#scale-container .scale {
    margin-left: 20px;
    position: relative;
    padding: 0;
    height: 90%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scale:before {
    position: absolute;
    content: '';
    display: block;
    width: 3px;
    height: calc(100% - 17.5px);
    background-color: #000;
    left: 0;
    top: calc(17.5px / 2);
    bottom: 0;
}

.scale {
    min-width: 161px;
}

.scale li.trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Made Tommy';
    font-size: 18px;
    margin-bottom:2px;
    color: #fff;
}

.scale li.trigger:before {
    content: '';
    display: block;
    margin-right: 8px;
    width: 22px;
    height: 4px;
    background-color: #000;
}
.pg .scale #warm-trigger, .lemoan  .scale #cool-trigger, .amateur  .scale #hot-trigger, .hardcore  .scale #x-hottest-trigger{
    color: #D9175F;
    font-weight: bold;
}
.xtrahot .scale #hottest-trigger{
    color: #afddd2;
}
.xtrahot .scale .trigger{
    color: #fff;
}
.amateur .scale .trigger{
    color: #fff4f8;
}
.scale li.notch {
    max-width: 16px;
    background-image: linear-gradient(to bottom, #000 2px, transparent 2px);
    height: 100%;
    background-size: 1px calc((100% + 17.5px) / 5);
    background-position-y: -10px;
}

.container-right {
    display: flex;
    width: 100%;
}

.container-right .hoeville-header {
    height: 100%;
    font-size: calc(40vw / 8.8);
    width: calc(40vw / 8.8);
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-transform: uppercase;
    color: #D9175F;
    /* margin-left: 30px; */
    font-weight: 700;
    font-family: 'Made Tommy Black';
    text-align: center;
    transition: color 0.3s ease-in-out;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: calc(40vw / 8.8);
}

.container-right .hoeville-content {
    position: relative;
}

.container-right .hoeville-content {
    /* width: calc(93% - 30px);
    float: right; */
    height: 100%;
    padding: 1vw;
    padding-left: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.container-right .hoeville-content .inner {
    border: 4px #D9175F solid;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
    padding-top: 0;
    padding-left: 2.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color 0.3s ease-in-out;
}
.xtrahot .container-right .hoeville-content .inner{
    border-color: #afddd2;
}


.container-right .hoeville-content .side-img {
    position: absolute;
    z-index: 5;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    /* max-width: 555px; */
}

.container-right .hoeville-content .inner .copy {
    /*width: fit-content;*/
}

.container-right .hoeville-content .inner .copy .sub-wrapper {
    text-align: right;
    width: 50%;
}

.hoeville-content .inner .copy a {
    margin-top: 20px;
    background-color: #fff;
    padding: 19px 0;
    font-size: 1.5em;
    font-family: 'Made Tommy Bold';
    color: #D9175F;
    border-radius: 16px;
    display: inline-block;
    text-decoration: none;
    width: 210px;
    text-align: center;
}

.container-right .hoeville-content .inner h1 {
    font-family: 'Made Tommy Bold';
    font-size: calc(40vw / 7.5);
}
.hardcore .container-right .hoeville-content .inner p {
    color: #fff;
}
.hardcore .container-right .hoeville-content .inner a {
    background-color: #f393bd;
    color: #191919;
}

.container-right .hoeville-content .inner p {
    color: #fff;
    font-size: calc(40vw / 28);
    line-height: 1em;
    font-family: 'PANTON', sans-serif;
}

.container-right .hoeville-content .inner .socks {
    flex-shrink: 1;
    flex-grow: 0;
    overflow: hidden;
    /* max-height: 340px; */
}

.container-right .hoeville-content .inner .socks img {
    height: 100%;
    max-width: 100%;
}
/*.lemoan .container-right .hoeville-content .inner .sub-wrapper{*/
/*    max-width: 70%;*/
/*}*/
/*.hardcore .container-right .hoeville-content .inner .sub-wrapper{*/
/*    max-width: 100%;*/
/*}*/

.hoeville-section input[type=range][orient=vertical] {
    height: calc(90% + 35px);
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}
.hoeville-section input[type=range][orient=vertical]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 70px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: url('hoveville-slide.svg');
    background-repeat: no-repeat;
    outline: none;
    box-shadow: none;
}
.hoeville-section.xtrahot input[type=range][orient=vertical]::-webkit-slider-thumb {
    background: url('hoeville-slide-white.svg');
}
/* firefox */
.hoeville-section input[type=range][orient=vertical]::-moz-range-thumb {
    appearance: none;
    width: 70px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: url('hoveville-slide.svg');
    background-repeat: no-repeat;
    outline: none;
    box-shadow: none;
}
.hoeville-section.xtrahot input[type=range][orient=vertical]::-moz-range-thumb {
    background: url('hoeville-slide-white.svg');
}
span.text-light-pink {
    color: #f393bd;
    font-weight: bold;
}
