.hoeville-section{
    /*padding: 0px 0px 60px 0px;*/
    /*background-image: url('https://cdn.shopify.com/s/files/1/0792/0792/4018/files/repeatable_main.png?v=1705672239');*/
    /*background-repeat: repeat;*/
}


#arch{
    height: 100%;
    width: 100%;
}
#scale{
    height: 100%;
    width: 100%;
}
.trigger{
    cursor: pointer;
}
.sections{
    display: none;
}
#squirt{
    transition: opacity 0.3s;
}
/*.hoeville-section .section-header{*/
/*    transform: rotate(270deg) ;*/
/*    transform-origin: left bottom;*/
/*}*/
.hoeville-section .copy-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.hoeville-section .copy-container .hoeville-header {
    font-size: 60px;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    color: #D9175F;
    width: 60px;
    margin-left: 30px;
    font-weight: 700;
    font-family: 'Made Tommy Bold';
}
.hoeville-section .hover-indicator{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.hoeville-section .copy-container .hoeville-text-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hoeville-section .copy-container .hoeville-text h1{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Moderat Extended";
}
.hoeville-section .copy-container .hoeville-text h2{
    font-family: "Moderat Extended";
    font-size: 30px;
}