.btn.btn-primary{
    background-color:#f390bc !important;
    color: #fff !important;
    border-color: #f390bc !important;
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
.btn.btn-secondary{
    background-color:#afddd2 !important;
    color: #fff !important;
    border-color: #afddd2 !important;
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
.btn.btn-primary-dark{
    background-color:#D9175F !important;
    color: #fff !important;
    border-color: #D9175F !important;
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
.btn.btn-secondary:hover{
    background-color: #f390bc !important;
    border-color: #f390bc !important;
    box-shadow: 0 0 0 0.2rem #f390bc !important;

}
.btn.btn-primary-dark:hover, .btn.btn-primary:hover{
    background-color: #aae8d7 !important;
    border-color: #aae8d7 !important;
    box-shadow: 0 0 0 0.2rem #aae8d7 !important;
    
}
.ambassadwhore-page-img{
    width: 60% !important;
}
.faqs-socks-on{
    width: 73% !important;
}
.section-faqs .section-title{
    margin-top: 40px;
    color: #D9175F;
}
@media only screen and (max-width: 768px) {
    /* .slide-show{
        height: auto;
    } */
     /* .slide-image img{
        height: calc((100vw - 130px) / 2) !important;
        width: calc((100vw - 50px) / 2) !important;
     } */
     .ambassadwhore-page-img, .faqs-socks-on{
        width: 100% !important;
    }
    .head-logo{
        margin-left:auto;
        margin-right: auto;
    }
     .advert-banner-sp .advert-child .advert__image-wrapper{
        width: 100% !important;
     }
     .advert-banner-sp .advert-child .advert__text{
        width: 100% !important;
     }
     .advert-banner-sp .advert-child .advert__text div{
        width: 100% !important;
     }
     .advert-banner-sp .advert-child .advert__text div h3{
        color: #afddd2 !important;
        text-align: left !important;
        width: 50% !important;
        line-height: 40px;
        margin-bottom: 50px;
     }
     .advert-banner-sp .advert-child{
        background-image: -webkit-linear-gradient(285deg, #f390bc 45%, transparent 30%) !important;
     }
     .advert-banner-sp .advert-child .advert__text{
        margin-bottom: 30px !important;
     }
     .ambassadwhore-banner-sp .copy{
        padding: 0px 5px 0px 5px !important;
     }
     .ambassadwhore-banner-sp .copy h1{
        font-size: 4rem !important;
        letter-spacing: -2px;
     }
     .ambassadwhore-banner-sp .copy p{
        font-size: 16px !important;
        z-index: 1;
     }
     .ambassadwhore-banner-sp .ambassadwhore-img{
        width: 60% !important;
        z-index: 0;
        
        top:-99px;
     }
     .ambassadwhore-banner-sp .ambassadwhore-img img{
        width: 100% !important;
     }
     .advanced-image .img_child{
        display: none !important;
     }
     .newsletter-form__field-wrapper .field{
        margin-bottom: 10px;
     }
    #hoeville{
        flex-wrap: wrap !important;
    }
    #hoeville.lemoan{
        background-color: #afddd2 !important;
        background-image: none !important;
    }
    #hoeville.pg{
        background-color: #fef4f8 !important;
        background-image: none !important;
    }
    #hoeville.amateur{
        background-color: #f394be !important;
        background-image: none !important;
    }
    #hoeville.xtrahot{
        background-color: #d91a60 !important;
        background-image: none !important;
    }
    #hoeville.hardcore{
        background-color: #191919 !important;
        background-image: none !important;
    }
    #hoeville .container-left{
        width: 55% !important;
    }
    #hoeville .container-left h2{
        font-size: 2.5em !important;
    }
    #hoeville .scale li.trigger{
        font-size: 14px !important;
    }
    #hoeville .container-right{
        width: 100% !important;
    }
    #hoeville .container-right .hoeville-header{
        width: 25% !important;
        z-index: 10;
        font-size: 4em;
    }
    #hoeville .container-right .hoeville-content{
        padding-left:0;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #hoeville .container-right .hoeville-content h1{
        font-size: 3.5em !important;
    }
    #hoeville .container-right .hoeville-content .inner{
        padding: 10px 3px !important;
    }
    #hoeville .container-right .hoeville-content .inner .copy .sub-wrapper{
        padding-right: 3px !important;
        width: 100%;
    }
    #hoeville .container-right .hoeville-content .pg-content .inner .copy h1, #hoeville .container-right .hoeville-content .pg-content .inner .copy p{
        color:#FFF !important;
        text-shadow: 2px 2px #000;
    }
    #hoeville .container-right .hoeville-content .content-wrapper .inner .socks{
        display: none;
    }
    #hoeville .container-right .hoeville-content .content-wrapper{
        height: auto !important;
    }
    #hoeville #scale-container{
        width: 30% !important;
        padding-left:5px;
        padding-right: 10px;
    }
    .shopify-section.service{
        margin-top: 740px;
    }
    #shopify-section-template--23031496900914__164195829130918a09.shopify-section.service{
        margin-top: 0;
    }
    .a-intro-about .img-child:last-child{
        margin-top:30px
    }
    .advanced-content .event-bar__info{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        gap:16px
    }
    #shopify-section-template--22871714496818__advanced_content_Cgrrw7{
        padding-bottom: 16px!important;
    }
    #shopify-section-template--22871714496818__1718863000484d0272{
        margin-top: 16px!important;
    }
    .advanced-content .event-bar__info .event-detail__venue{
        margin-left:5px;
    }
    .advanced-content .event-bar__info .event-detail__date .event-detail__link .text-link span{
        white-space: wrap !important;
    }
    .advanced-content .event-bar__action{
        width: 100% !important;
        margin-top: 16px;
    }
    .advanced-content .event-bar__wrapper{
        flex-wrap: wrap;
        padding: 16px 0px;
    }
    .advanced-image .advanced-image-content .advanced-image-media{
        margin-bottom: 10px !important;
    }
    .rude-footer .drawer__nav-toggle--open{
        right: -11px !important;
        top: 40% !important;
    }
    .rude-footer .menu-footer{
        padding-top: 0px !important;
    }
    #shopify-section-template--22895193719090__1718863000484d0272{
        margin-top: 0px !important;
    }
    #shopify-section-template--22895193719090__advanced_content_Cgrrw7{
        padding-bottom: 0px !important;
    }
    .ambassadwhore_button_container .custom-btn.btn.btn-secondary{
        background-color: #ffe9f4!important;
        border-color: #ffe9f4!important;
        margin-left: 0!important;
        margin-bottom: 10px;
    }
    .rude-collection .rude-rail{
        grid-gap: 0!important;
    }
}

