.btn.btn-primary{
    background-color:#f390bc !important;
    color: #fff !important;
    border-color: #f390bc !important;
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
.btn.btn-secondary{
    background-color:#afddd2 !important;
    color: #fff !important;
    border-color: #afddd2 !important;
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
.btn.btn-primary-dark{
    background-color:#D9175F !important;
    color: #fff !important;
    border-color: #D9175F !important;
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
}
.btn.btn-secondary:hover{
    background-color: #f390bc !important;
    border-color: #f390bc !important;
    box-shadow: 0 0 0 0.2rem #f390bc !important;

}
.btn.btn-primary-dark:hover, .btn.btn-primary:hover{
    background-color: #aae8d7 !important;
    border-color: #aae8d7 !important;
    box-shadow: 0 0 0 0.2rem #aae8d7 !important;
    
}
.ambassadwhore-page-img{
    width: 60% !important;
}
.faqs-socks-on{
    width: 73% !important;
}
.section-faqs .section-title{
    margin-top: 40px;
    color: #D9175F;
}
@media only screen and (max-width: 1200px) {
    .ambassadwhore-container {
        padding-bottom: 6.5vw !important;
    }
    .ambassadwhore-banner-sp p {
        font-size: 1.6em !important;
        padding-top: 7px !important;
        padding-right: 20vw !important;
    }
    .advert__text {
        width: 61% !important;
        padding-top: 22vw !important;
    }
    main#MainContent .advert-banner-sp {
        height: unset !important;
    }
    .advert__text h2 {
        font-size: 6.5vw !important;
        /* line-height: 7vw !important; */
    }
    .slide-image.media {
        padding-bottom: 56.645833% !important;
    }
    .rude-footer .container-fluid > .row > div:last-child > .row > div:first-child {
        order: 3;
    }
}
@media only screen and (max-width: 991px) {
    .rude-footer > .container-fluid > .row {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .rude-footer > .container-fluid > .row > div:first-child {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 0;
        padding-right: 0;
    }
    .rude-footer > .container-fluid > .row > div:first-child > .row:last-child {
        flex-basis: 100%;
    }
    .rude-footer > .container-fluid > .row > div:first-child > .row:last-child .menu-footer {
        margin-left: 0;
        /* padding-left: 0; */
    }
    .rude-footer > .container-fluid > .row > div:first-child > div:not(:last-child) {
        margin-right: auto;
    }
    .rude-footer > .container-fluid > .row > div:first-child > .row:not(:last-child) {
        flex-basis: 80% !important;
        flex-grow: 1;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .rude-footer > .container-fluid > .row > div:first-child > .logo-footer {
        flex-basis: 20% !important;
        padding-right: 10px !important;
    }
    .rude-footer > .container-fluid > .row > div:last-child {
        margin-left: auto;
        top: -116.5px;
        position: relative;
        margin-bottom: -106.5px !important;
    }
    .rude-footer .container-fluid > .row > div:last-child > .row > div:first-child {
        position: absolute;
        left: -100%;
        top: 106.5px;
    }
    .rude-footer .newsletter-footer {
        margin-bottom: 25px !important;
    }
    .hidden-md-down {
        display: none !important;
    }
}
@media only screen and (max-width: 767px) {
    /* .slide-show{
        height: auto;
    } */
     /* .slide-image img{
        height: calc((100vw - 130px) / 2) !important;
        width: calc((100vw - 50px) / 2) !important;
     } */
     .ambassadwhore-page-img, .faqs-socks-on{
        width: 100% !important;
    }
    .head-logo{
        margin-left:auto;
        margin-right: auto;
    }
     .advert-banner-sp .advert-child .advert__image-wrapper{
        width: 100% !important;
     }
     .advert-banner-sp .advert-child .advert__text{
        width: 100% !important;
     }
     .advert-banner-sp .advert-child .advert__text div{
        width: 100% !important;
     }
     .advert-banner-sp .advert-child .advert__text div h3{
        color: #afddd2 !important;
        text-align: left !important;
        line-height: 40px;
        margin-top: 25px;
     }
     .advert-banner-sp .advert-child{
        background-image: -webkit-linear-gradient(285deg, #f390bc 47%, transparent 30%) !important;
     }
     .ambassadwhore-banner-sp .copy{
        padding: 0px 5px 0px 5px !important;
     }
     .ambassadwhore-banner-sp .copy h1{
        font-size: 4rem !important;
        letter-spacing: -2px;
     }
     .ambassadwhore-banner-sp .copy p{
        font-size: 16px !important;
        z-index: 1;
     }
     .ambassadwhore-banner-sp .ambassadwhore-img{
        width: 88% !important;
     }
     .ambassadwhore-banner-sp .ambassadwhore-img img{
        width: 100% !important;
     }
     .advanced-image .img_child{
        display: none !important;
     }
     .newsletter-form__field-wrapper .field{
        /* margin-bottom: 10px; */
     }
    #hoeville{
        flex-wrap: wrap !important;
        justify-content: space-between;
        flex-direction: column;
    }
    #hoeville.lemoan{
        background: linear-gradient(135deg, #afddd2 56%, transparent 56%);
    }
    #hoeville.pg{
        background: linear-gradient(135deg, #fef4f8 56%, transparent 56%);
    }
    #hoeville.amateur{
        background: linear-gradient(135deg, #f394be 56%, transparent 56%);
    }
    #hoeville.xtrahot{
        background: linear-gradient(135deg, #d91a60 56%, transparent 56%);
    }
    #hoeville.hardcore{
        background: linear-gradient(135deg, #191919 56%, transparent 56%);
    }
    #hoeville .container-left {
        width: calc((89vw - 90px) / 3) !important;
    }
    #hoeville .container-left h2{
        font-size: 2.5em !important;
        display: none;
    }
    #hoeville .scale li.trigger{
        /* font-size: 14px !important; */
        font-size: calc(4px + 1.5vw) !important;
        /* don't touch, these numbers are full of black magic! */
        width: calc((1.16vw + 5.4px) * 10.6) !important;
    }
    #hoeville .container-right{
        /* width: 72.3vw !important; */
        width: calc(85% - 88px);
        align-self: flex-end;
    }
    #hoeville .container-right .hoeville-header{
        width: 25% !important;
        z-index: 10;
        font-size: 4em;
    }
    #hoeville .container-right .hoeville-content {
        padding: 1vw;
        width: 100% !important;
        position: static;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }
    #hoeville .container-right .hoeville-content h1{
        font-size: 3.5em !important;
        display: none;
    }
    #hoeville .container-right .hoeville-content .inner {
        position: static;
        border-width: calc(1px + 0.4vw);
    }
    #hoeville .container-right .hoeville-content .inner .copy .sub-wrapper {
        padding-right: 3px !important;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 2.5vw;
        width: calc(100% - (100vw / 9.5));
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        height: 100%;
    }
    /* #hoeville .container-right .hoeville-content .pg-content .inner .copy h1, #hoeville .container-right .hoeville-content .pg-content .inner .copy p{
        color:#FFF !important;
        text-shadow: 2px 2px #000;
    } */
    #hoeville .container-right .hoeville-content .content-wrapper .inner .socks{
        /* display: none; */
        position: absolute;
        bottom: 40vw;
        right: 0;
        width: calc(68% - 51px);
    }
    #hoeville .container-right .hoeville-content .content-wrapper .inner .socks img {
        margin-left: 0;
        position: relative;
    }
    #hoeville.hardcore .container-right .hoeville-content .content-wrapper .inner .socks img {
        right: -13%;
        left: unset;
        bottom: 0;
        max-width: 130%;
    }

    #hoeville .container-right .hoeville-content .content-wrapper{
        height: 100% !important;
    }
    #hoeville #scale-container{
        /* width: 30% !important; 
        padding-left:5px;
        padding-right: 10px; */
    }
    #hoeville #scale-container {
        order: 1;
        flex-basis: 100%;
        max-height: 100%;
    }
    #hoeville .container-right {
        order: 2;
        min-height: 42%;
        flex-basis: unset;
    }
    #hoeville .container-left {
        order: 3;
        /* flex-basis: 58%; */
        max-height: 58%;
        padding-left: 0 !important;
        flex-grow: 1;
        height: unset !important;
    }
    #hoeville .hoeville-header {
        order: 4;
        position: absolute;
        right: 1vw;
        height: 100vw;
        font-size: calc(100vw / 8.8);
        line-height: calc(100vw / 8.8);
        width: calc(100vw / 8.8);
    }
    #hoeville.hoeville-section {
        height: 140vw;
        position: relative;
        justify-content: flex-start;
        padding-bottom: 40vw;
    }
    #hoeville .type-text {
        display: none;
    }
    #hoeville .container-left .dick #scale {
        max-height: calc(89vw - 90px) !important;
        /* height: 78vw !important; */
        position: absolute !important;
        /* bottom: 3vw; */
        top: unset !important;
        height: calc(89vw - 90px) !important;
        bottom: 26px !important;
    }
    #hoeville .container-left .dick {
        min-height: unset;
        height: 100%;
        z-index: 99 !important;
    }
    #hoeville .oval {
        width: 100% !important;
        /* black magic numbers */
        height: calc((89vw - 90px) / 2.35) !important;
        top: unset !important;
        left: 3% !important;
        bottom: 25vw;
    }
    #hoeville .side-img {
        height: unset;
        top: unset;
        width: 100%;
        z-index: -1;
    }
    #hoeville .scale {
        /* min-width: 140px !important; */
        margin-left: 2.7vw !important;
    }
    #hoeville .inner .copy {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
    }
    .hoeville-content .inner .copy a {
        font-size: 3vw !important;
        width: 33vw !important;
        padding: 2.6vw 0 !important;
        border-radius: 20px !important;
        margin-top: 3% !important;
    }
    .container-right .hoeville-content .inner p {
        font-size: 5.5vw !important;
        margin-top: auto;
        margin-bottom: auto;
    }
    .shopify-section.service{
        /* margin-top: 740px; */
    }
    #shopify-section-template--23031496900914__164195829130918a09.shopify-section.service{
        margin-top: 0;
    }
    .a-intro-about .img-child:last-child{
        margin-top:30px
    }
    .advanced-content .event-bar__info{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        gap:16px
    }
    #shopify-section-template--22871714496818__advanced_content_Cgrrw7{
        padding-bottom: 16px!important;
    }
    #shopify-section-template--22871714496818__1718863000484d0272{
        margin-top: 16px!important;
    }
    .advanced-content .event-bar__info .event-detail__venue{
        margin-left:5px;
    }
    .advanced-content .event-bar__info .event-detail__date .event-detail__link .text-link span{
        white-space: wrap !important;
    }
    .advanced-content .event-bar__action{
        width: 100% !important;
        margin-top: 16px;
    }
    .advanced-content .event-bar__wrapper{
        flex-wrap: wrap;
        padding: 16px 0px;
    }
    .advanced-image .advanced-image-content .advanced-image-media{
        margin-bottom: 10px !important;
    }
    .rude-footer .drawer__nav-toggle--open{
        right: -7px !important;
        top: 33% !important;
    }
    .rude-footer .menu-footer{
        /* padding-top: 0px !important; */
    }
    #shopify-section-template--22895193719090__1718863000484d0272{
        margin-top: 0px !important;
    }
    #shopify-section-template--22895193719090__advanced_content_Cgrrw7{
        padding-bottom: 0px !important;
    }
    .ambassadwhore_button_container .custom-btn.btn.btn-secondary{
        background-color: #ffe9f4!important;
        border-color: #ffe9f4!important;
        margin-left: 0!important;
        margin-bottom: 10px;
    }
    .ambassadwhore-container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .ambassadwhore-banner-sp .copy {
        max-width: 89% !important;
    }
    .ambassadwhore_button_container {
        max-width: 200px;
        margin-top: 0 !important;
    }
    .ambassadwhore_button_container .custom-btn {
        margin-top: 10px;
        margin-left: 0 !important;
    }
    .rude-collection .rude-rail{
        grid-gap: 0!important;
    }
    .advert__text h2 {
        font-size: calc(3rem + 4vw) !important;
    }
    .rude-footer > .container-fluid > .row > div:first-child {
        justify-content: space-between;
    }
    .rude-footer > .container-fluid > .row > div:first-child > .row:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .rude-footer .container-fluid > .row > div:last-child > .row > div:first-child {
        left: -71.42857%;
    }
    .rude-footer .newsletter-footer {
        margin-bottom: 10px !important;
    }
}
@media only screen and (max-width: 620px) {
    .ambassadwhore_button_container {
        max-width: unset !important;
    }
    #MainContent .ambassadwhore-container {
        padding-bottom: 29.5vw !important;
    }
    .ambassadwhore-banner-sp .ambassadwhore-container .copy p {
        padding-right: 0 !important;
    }
    .ambassadwhore_button_container .custom-btn:nth-child(2) {
        margin-left: 10px !important;
    }
    .ambassadwhore_button_container .custom-btn {
        z-index: 4;
        position: relative;
    }
}
@media only screen and (max-width: 575px) {
    .rude-footer > .container-fluid > .row > div:last-child {
        margin-bottom: 0 !important;
        top: unset !important;
    }
    .rude-footer .container-fluid > .row > div:last-child > .row > div:first-child {
        top: -87.5px;
        left: 50%;
    }
    .rude-footer .menu-footer .title-footer {
        padding-right: 20px !important;
    }
}
@media only screen and (max-width: 480px) {
    .ambassadwhore-banner-sp .copy {
        max-width: unset !important;
    }
    #MainContent .ambassadwhore-container {
        padding-bottom: 29.5vw !important;
    }
    .ambassadwhore-banner-sp .ambassadwhore-container .copy p {
        padding-right: 0 !important;
    }
    .ambassadwhore-banner-sp .ambassadwhore-img {
        width: 100% !important;
    }
    .ambassadwhore_button_container .custom-btn {
        font-size: 4vw !important;
    }
    .rude-footer > .container-fluid > .row {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .rude-footer .footer__list-social {
        justify-content: center !important;
    }
    .rude-footer .logo-footer {
        position: absolute;
        right: 0;
        width: 48px;
    }
    .rude-footer > .container-fluid > .row > div:first-child {
        position: relative;
    }
    .bottom-footer .bottom-footer-menu ul {
        flex-wrap: wrap;
        gap: 10px 0 !important;
    }
    .bottom-footer .bottom-footer-menu ul > li {
        flex-basis: 33%;
    }
}
@media only screen and (max-width: 400px) {
    .rude-footer > .container-fluid > .row > div:last-child .row > div {
        width: 100%;
    }
    .rude-footer .container-fluid > .row > div:last-child > .row > div:first-child {
        position: relative;
        order: unset;
        top: unset;
        left: unset;
    }
    .rude-footer .footer__list-social {
        /* justify-content: start !important; */
    }
    .rude-footer .menu-footer {
        padding-top: 25px !important;
        text-align: center;
    }
    .rude-footer .newsletter-footer form#ContactFooter {
        display: block !important;
    }
    .rude-footer .newsletter-form__field-wrapper {
        margin-bottom: 8px;
    }
    .rude-footer .newsletter-form__field-wrapper input {
        margin-right: 0;
    }
    .rude-footer button.button.button--secondary.newsletter-form__button {
        width: 100%;
    }
    .rude-footer .newsletter-footer h2.footer-block__heading {
        padding-right: 25% !important;
    }
    .rude-footer .logo-footer {
        width: 76px;
    }
}

