/* rude socks */
#home-be-bold .container h2{
    margin-bottom: 20px !important;
}
#home-be-bold p.section-sp_text-content, #animal-section p.section-sp_text-content{
    color: #000;
    font-size: 30px;
    line-height: 36px;
}
#home-be-bold .section-sp_text, #animal-section .section-sp_text{
    padding-left:0px !important;
    padding-right: 0px !important;
}

#animal-section .btn--main.btn-advanced{
    color: var(--color-base-link);
}
#animal-section .container{
    margin-top: 150px;
}
body.index #animal-section{
    padding-bottom: 100px;
}
body.index #home-be-bold{
    padding-bottom: 160px;
    padding-top: 20px;
}
#animal-section .section-sp_text-content{
    margin-top:100px;
}
#animmal-section .wp_section .Ap_pd, #home-be-bold .wp_section div[class*="col-"]{
    margin-top: auto;
    margin-bottom: auto;
}

/* end Rude Socks */


/*theme styles*/
.section-sp h2.section-header {
    font-family: "Made Tommy Black";
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 1;
    color: #000;
    display: block;
    padding: 0;
    margin-bottom: 80px;
}
h3.section-sp_text-title {
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    text-transform: capitalize;
    font-family: 'Made Tommy Black';
}
#about-hero .section-sp_text h3{
    color: #D9175F;
    text-transform: uppercase;
}
#about-hero .btn-container a{
    font-size: 20px;
    font-family: 'Made Tommy Black';
    padding: 16px;
    border-radius: 40px;
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
    background-color: #f393bd !important;
    border-color: #f393bd !important;
    color: #fff;
    box-shadow: none;
}
p.section-sp_text-content {
    color: #888;
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
}
.btn-advanced {
    margin-top: 30px;
}
.Ap_pd {
    padding: 0 15px;
}
.advanced-image-media.media {
    overflow: inherit;
}
img.advanced__image {
    z-index: 1;
}
img.image_child1 {
    position: absolute;
    display: block;
    z-index: 0;
    width: 245px;
    height: 316px;
    top: -25%;
    right: auto;
    left: -9px;
    transform: rotate( 
28deg);
}
img.image_child2 {
    position: absolute;
    display: block;
    z-index: 0;
    width: 320px;
    height: 268px;
    bottom: -12%;
    right: -15px;
    left: auto;
}
body.index .section-sp {
    padding-top: 30px;
}
.section-sp {
    padding: 50px 0;
}
.advanced-image-2-content {
    margin-bottom: 65px;
}
@media(min-width: 768px){
    .section-sp_text h3{
        margin-top: 0;
    }
}
@media (max-width:991px) {
    .btn-advanced {
        margin-top: 50px;
    }
    .section-sp h2.section-header {
        font-size: 30px;
    }
}
@media (min-width:992px) {
    .section-sp {
        padding: 100px 0;
    }
    body.index .section-sp {
        padding-top: 100px;
        padding-bottom: 0;
    }
}
@media(min-width: 1200px){
    .advanced-image-blog img{
        width: 100%;
    }
    .section-sp_text{
        max-width: 700px;
        padding: 50px 15% 15px 15%;
    }
}
@media (max-width: 1199px){
    .wp_section {
        padding: 30px 15px;
    }
}